.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-cell {
  flex: 1;
}

.footer-heading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-list,
.social-list,
.additional-list {
  list-style: none;
  padding: 0;
}

.contact-link,
.social-link,
.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-link:hover,
.social-link:hover,
.nav-link:hover {
  color: #eee;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 0.8em;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-cell {
    flex: 1 0 auto;
  }
}


.footer p,
a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}