.card-tag {
	display: inline-block;

	width: auto;
	height: 38px;

	background-color: black;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;

	border-left: 1px solid #6ab070;

	/* This makes room for the triangle */
	margin-left: 19px;

	position: relative;

	color: #fff;
	font-weight: 300;
	font-size: 15px;
	line-height: 38px;

	padding: 0 10px 0 10px;
	margin-right: 10px;

	cursor: pointer;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Makes the triangle */
.card-tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 10;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid black;
}

/* Makes the circle */
.card-tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

.card-tag:hover {
	transform: scale(1.2);
	/* Increase size by 20% */
	transition: transform 0.2s ease-in-out;
	/* Smooth animation */
}