.typing {
    display: block;
    color: #fff;
}

.typing::after {
    content: '';
    height: 100%;
    padding: 2px;
    margin-left: 10px;
    background-color: #05ccc2;
    animation: typing 1.2s ease infinite;
}

span.typed-cursor {
    display: none;
}


@keyframes typing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}