body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-wrap: break-word;
}




.navbar {
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}





/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      color: #fff;
      background-color: #000;
  }

  .navbar .navbar-brand, .navbar .nav-link {
    color: #fff;
    
  }

  .navbar .fa.fa-bars {
    color: #fff;
  }
}






.wrapper-1{
  width: 100%;
  margin: 0 auto;
}

.wrapper-1 section.module p{
  margin-bottom: 40px;
}

.wrapper-1 section.module:last-child{
  margin-bottom: 0;
}

.wrapper-1 section.module h2{
  margin-bottom: 40px;
  font-size: 30px
}

.wrapper-1 section.module.content {
  padding: 40px 0;
  background: #ece7d5;
}

.wrapper-1 section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.wrapper-1 section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

.wrapper-1 section.module.parallax-1 {
  background-image: url("../public/img/face.jpg");  
  box-shadow: inset 0 0 0 2000px rgba(0, 0,0, 0.9);

}

@font-face {
  font-family: 'windowsprompt';
  src: url('../public/fonts/wprompt.ttf');
  font-style: normal;
  font-weight: 100;
}




.wrapper-1 section.module.parallax.parallax-1 h1{
  color: #fff;
  font-family: 'windowsprompt';
  text-align: center;
  font-size: 45px;
  z-index: 9;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .wrapper-1 section.module.parallax.parallax-1 h1{
    color: #fff;
    font-family: 'windowsprompt';
    text-align: center;
    font-size: 20px;
    z-index: 9;
    text-transform: uppercase;
  }
}


.wrapper-2 section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.wrapper-2 section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

.wrapper-2 section.module.parallax-1 {
  background-image: url("../public/img/experience.jpg");
}

.wrapper-2 section.module.parallax.parallax-1 h1{
  color: #fff;
  text-align: center;
  font-size: 78px;
  z-index: 9;
  text-transform: uppercase;
}


.wrapper-3 section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.wrapper-3 section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

.wrapper-3 section.module.parallax-1 {
  background-image: url("../public/img/certificate.jpg");
}

.wrapper-3 section.module.parallax.parallax-1 h1{
  color: #fff;
  text-align: center;
  font-size: 78px;
  z-index: 9;
  text-transform: uppercase;
}


.wrapper-4 section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.wrapper-4 section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

.wrapper-4 section.module.parallax-1 {
  background-image: url("../public/img/face.jpg");
}

.wrapper-4 section.module.parallax.parallax-1 h1{
  color: #fff;
  text-align: center;
  font-size: 78px;
  z-index: 9;
  text-transform: uppercase;
}


.container-timeline {
  display: flex;
}

.timeline {
  position: relative;
  display: block;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2px;
  height: 95%;
  background-color: #e3e5e9;
}

.timeline li {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 20px;
}

.timeline li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -8px;
  width: 18px;
  height: 18px;
  background-color: #747474;
  border: 3px solid #fff;
  border-radius: 50%;
}

.timeline li .title {
  width: 180px;
  padding: 6px 20px;
  background-color: #747474;
  color: #fff;
  font-weight: 500;
  border-radius: 30px 0 60px 30px;
}

.timeline li .details {
  background-color: #f4f5f8;
  margin-top: 8px;
  padding: 20px;
  border-radius: 4px;
}

.timeline li .details h5,
.timeline li .details p {
  margin-bottom: 0;
}

.timeline li .details small {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}





.card-icon-header-certificate {
  padding: 30px;
}

.row.title-desc {
  margin-top: 1%;
  margin-left: 1%;
}

.card-icon-header-certificate p{
  margin-left: 10px;
}

.card-body-certificate {
  padding: 15px;
}

.card-icon-header {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .card-icon-header-certificate {
    padding: 20px;
  }

  .card-icon-header-certificate img{
    margin-left: 4%;
  }
  
  .row.title-desc {
    margin-top: 1%;
    margin-left: 1%;
  }

}

@media only screen and (max-width: 820px) {
  .card-icon-header-certificate {
    padding: 20px;
  }

  .card-icon-header-certificate img{
    margin-left: 4%;
  }
  
  .row.title-desc {
    margin-top: 1%;
    margin-left: 1%;
  }

}

@media only screen and (max-width: 912px) {
  .card-icon-header-certificate {
    padding: 20px;
  }

  .card-icon-header-certificate img{
    margin-left: 4%;
  }
  
  .row.title-desc {
    margin-top: 1%;
    margin-left: 1%;
  }

}

.footer {
  width: 100%;
  background-color: #000;
}

.footer h5 {
  color: white;
  text-decoration: none !important;
}

.footer i {
  margin-right: 1%;
}

.footer h5 a{
  text-decoration: none !important;
}
